{% extends "base.html.twig" %}
{% block title %} 404 - Страница не найдена {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h1 class="centered">404</h1>
                <p class="centered">К сожалению, страница не найдена! :(</p>
            </div>
        </div>
    </div>
{% endblock %}