body {
    padding-top: 50px;
}
.centered {
    text-align: center;
}
.jumbotron {
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    color: #444444;
}

A:hover, A:focus {
    color: #2e6da4;
    text-decoration: none;

}