@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
body {
    background:url(/template/img/background.png);
    font-family: 'Lato', 'sans-serif';
}
.centered {
    text-align: center;
}
.jumbotron {
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    color: #444444;
}

a:hover, a:focus {
    color: #2e6da4;
    text-decoration: none;

}
/* --------------Navigation styles-------------- */
.header {
    background-color: black;
}
.navbar-brand {
    color: #761c19;
}
a.navbar-brand:hover, a.navbar-brand:focus {
    color: #761c19;
}
.navbar-inner .navbar-nav a {
    color: white;
    background-color: black; 
}
.navbar-inner .navbar-nav a:focus, .navbar-inner .navbar-nav a:hover {
    color: red;
    background-color: black;
}
.icon-bar {
    background-color: white;
}
.dropdown-menu {

    background-color: black;
    color: white;
}
/* ----------end of navigation styles--------- */
/* --------------Slider styles----------------*/
.carousel {
    margin-top: 20px;
}
.item .thumb {
    width: 25%;
    cursor: pointer;
    float: left;
}
.item .thumb img {
    width: 100%;
    margin: 2px;
}
.item img {
    width: 100%; 
}
/*------------end of slider styles--------------*/