{% extends "base.html.twig" %}
{% block title %} О проекте {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h1 class="centered">О проекте</h1>
                <p class="centered">Этот блог создается с помощью паттерна MVC с целью изучения данного паттерна.
                    <img src="/template/img/diagram-mvc-480x241.png"></p>
                <blockquote class="centered">Шаблон проектирования MVC (Model-View-Controller) предполагает разделение данных приложения, пользовательского интерфейса и управляющей логики на три отдельных компонента: 
                    Модель, Представление и Контроллер – таким образом, что модификация каждого компонента может 
                    осуществляться независимо.
                </blockquote>
            </div>
        </div>
    </div>
{% endblock %}