{% extends "base.html.twig" %}
{% block title %} Контакты {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h1 class="centered">Все контакты</h1>
                <p class="centered">
                    <a href="https://github.com/sukhdug"><i class="fa fa-github-square" aria-hidden="true"></i> GitHub</a> |
                    <a href="https://vk.com/sukhdug"><i class="fa fa-vk" aria-hidden="true"></i> Вконтакте</a> | 
                    <a href="https://instagram.com/sukhdug"><i class="fa fa-instagram" aria-hidden="true"></i> Instagram</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}