<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="shortcut icon" href="/template/img/favicon.ico" type="image/x-icon">
            <link rel="stylesheet" href="/template/css/bootstrap.css" />
            <link rel="stylesheet" href="/template/css/jasny-bootstrap.min.css" />
            <link rel="stylesheet" href="/template/css/font-awesome.css" />
            <link rel="stylesheet" href="/template/css/common-styles.css" />
            <title>{% block title %}{% endblock %}</title>
            <script src="/template/js/jquery.js" type="text/javascript"></script>
            <script src="/template/js/bootstrap.js" type="text/javascript"></script>
            <script src="/template/js/jasny-bootstrap.js" type="text/javascript"></script>
            <script src="/template/js/liked.js" type="text/javascript"></script>
        {% endblock %}
    </head>
    <body>
        {% include '/layouts/navigation.html.twig' %}
        {% block body %}{% endblock %}
        {% include '/layouts/footer.html.twig' %}
    </body>
</html>